@page
@model ASP_Mix_App.Pages._404Model
@{
    ViewData["Title"] = "Page Not Found";
}

<style>
    h1 {
        font-size: 50px;
        margin-bottom: 10px;
    }
    p {
        font-size: 20px;
        margin-bottom: 30px;
    }
</style>
<div class="text-center text-danger">
    <h1>404</h1>
    <p>Oops! The page you are looking for cannot be found.</p>
</div>
