@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Swagger :  <a href="https://localhost:7285/swagger/index.html" target="_blank">Access Swagger Interface To Test All Endpoints.</a>.</p>
</div>
